.lead__image {
  margin: 64px auto 0;
  width: 984px;
}

@media screen and (max-width: 1280px) {
  .lead__image {
    width: calc(100vw - 148px * 2);
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin: 56px auto 0;
    width: calc(100vw - 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin: 40px auto 0;
  }
}